<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cotización de divisas </title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/pages.css">
  <link rel="stylesheet" href="css/tabla.css">

</head>

<body>
  <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="contenido">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="page2a.html">Pelicula</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                  <li class="nav-item">
                  <li id="Posicionado">
                    <a class="nav-link" href="page2b.html">Cotización de divisas</a>
                  </li>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="page2c.html">Traductor</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="page1.html" target="_blank">Punto 1</a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="container row col-sm col-md-8 d-none d-md-block">
        <header class="roww">
          <h2>¡¡ Cotización de divisas !!</h2>
        </header>
        <div class="contenedor-tabla">
          <table class="table table-bordered table-light table-striped">

            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col"><img src="imagen/usd.png" height="40" width="40"><br>USD</th>
                <th scope="col"><img src="imagen/eur.png" height="40" width="40"><br>EUR</th>
                <th scope="col"><img src="imagen/gbp.png" height="40" width="40"><br>GBP</th>
                <th scope="col"><img src="imagen/jpy.png" height="40" width="40"><br>JPY</th>
                <th scope="col"><img src="imagen/cny.png" height="40" width="40"><br>CNY</th>
                <th scope="col"><img src="imagen/aud.png" height="40" width="40"><br>AUD</th>
                <th scope="col"><img src="imagen/btc.png" height="40" width="40"><br>BTC</th>
                <th scope="col"><img src="imagen/arg.png" height="35" width="40"><br>ARS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><img src="imagen/usd.png" height="35" width="35"> 1 USD <br> Inverse </th>
                <td>1.000000 <br> 1.000000</td>
                <td>0.919901 <br> 1.087074</td>
                <td>0.811469 <br> 1.232332</td>
                <td>108.9079 <br> 0.009182</td>
                <td>7.057569 <br> 0.141692</td>
                <td>1.619886 <br> 0.617328</td>
                <td>0.000140 <br> 7148.757</td>
                <td>64087725 <br> 0.015414</td>
              </tr>
              <tr>
                <th><img src="imagen/eur.png" height="35" width="35"> 1 EUR <br> Inverse </th>
                <td>1.087074 <br> 0.919901</td>
                <td>1.000000 <br> 1.000000</td>
                <td>0.882127 <br> 1.133623</td>
                <td>118.3910 <br> 0.008447</td>
                <td>7.672100 <br> 0.130342</td>
                <td>1.760936 <br> 0.567880</td>
                <td>0.000152 <br> 6576.146</td>
                <td>70.52637 <br> 0.014179</td>
              </tr>
              <tr>
                <th><img src="imagen/gbp.png" height="35" width="35"> 1 GBP <br> Inverse</th>
                <td>1.232332 <br> 0.811469</td>
                <td>1.133623 <br> 0.882127</td>
                <td>1.000000 <br> 1.000000</td>
                <td>134.2108 <br> 0.007451</td>
                <td>8.697272 <br> 0.114979</td>
                <td>1.996238 <br> 0.500942</td>
                <td>0.000172 <br> 5800.997</td>
                <td>79.95034 <br> 0.012508</td>
              </tr>
              <tr>
                <th><img src="imagen/rub.png" height="35" width="35"> 1 RUB <br> Inverse </th>
                <td>0.013226 <br> 75.61134</td>
                <td>0.012166 <br> 82.19511</td>
                <td>0.010732 <br> 93.17830</td>
                <td>1.440365 <br> 0.694268</td>
                <td>0.093340 <br> 10.71351</td>
                <td>0.021424 <br> 46.67696</td>
                <td>0.000002 <br> 540527.1</td>
                <td>0.858036 <br> 1.165452</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="col-sm-12 col-md-4">
        <div class="formulario1">
          <header class="encabezado">
            <h2>Conversor De Divisas</h2>
          </header>
          <form class="conversor">
            <div class="form-group row">
              <label for="idcantidad" class="col-sm-4 col-form-label">Cantidad:</label>
              <div class="col-sm-12 col-md-12">
                <input type="number" class="form-control" id="idcantidad" th:field="*{cantidad}"
                  placeholder="Cantida" />
              </div>
            </div>

            <br>

            <div class="form-group row">
              <label for="idDe" class="col-sm-4 col-form-label">De:</label>
              <div class="col-sm-12">
                <select id="idDe" class="form-control" th:field="*{de}">
                  <option selected>Seleccione: </option>
                  <option value="USD">USD Dolares EEUU</option>
                  <option value="EUR">EUR Euro</option>
                  <option value="GBP">GBP Libra Esterlina</option>
                  <option value="RUB">RUB Rublo ruso</option>
                </select>
              </div>
            </div>

            <br>

            <div class="form-group row">
              <label for="idA" class="col-sm-4 col-form-label">A:</label>
              <div class="col-sm-12">
                <select id="idA" class="form-control" th:field="*{a}">
                  <option value="" selected>Seleccione: </option>
                  <option value="USD">USD Dolares EEUU</option>
                  <option value="EUR">EUR Euro</option>
                  <option value="GBP">GBP Libra Esterlina</option>
                  <option value="JPY">JPY Yen</option>
                  <option value="CNY">CNY Yuan Renminbi</option>
                  <option value="AUD">AUD Dólar australiano</option>
                  <option value="BTC">BTC Bitcoin</option>
                  <option value="ARS">ARS Peso argentino</option>
                </select>
              </div>
            </div>

            <br>

            <div class="form-group row">
              <label for="respuesta" class="col-sm-4 col-form-label"></label>
              <div class="col-sm-12 col-md-12">
                <input type="number" class="form-control" id="idrespuesta" th:field="*{respuesta}"/>
              </div>
            </div>
            <br>

            <div class="form-group row">
              <div class="col-sm-12 col-md-12">
                <div class="boton">
                  <button type="submit" class="btn btn-warning form_button">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      Diseñado por Nieva Tatiana Valeria LU:3866 de Prog. y Servicios Web - Tiene todos los derechos
      reservados -
      2022
      <br><br>
      <a href="https://www.facebook.com/"><img src="imagen/iconoFacebook.png" alt="icono" width="30" height="30"></a>
      <a href="https://www.instagram.com/"><img src="imagen/iconoInstagram.png" alt="icono" width="30" height="30"></a>
      <a href="https://twitter.com/"><img src="imagen/iconoTwiter.png" alt="icono" width="30" height="30"></a>
      <a href="https://whatsapp.com/"><img src="imagen/iconowhatsapp.png" alt="icono" width="30" height="30"></a>
      <a href="https://youtube.com/"><img src="imagen/iconoYoutube.png" alt="icono" width="30" height="30"></a>
      <a href="https://mail.google.com/"><img src="imagen/iconoEmail.png" alt="icono" width="30" height="30"></a>

    </div>
  </footer>

  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>